*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.parent{
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    min-height: 550px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 12px 2px rgba(0,0,0,0.15);

}
.title-card{
    box-sizing: border-box;
    height: 5rem;
    display: flex;
    flex-direction: row;
}


.input-field{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    box-sizing: border-box;
}

#place-input{
    height: 3rem;
    width: 15rem;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px ;
    text-align: center;
    font-size: 25px;
    outline:none;
}

#blue-style{
    height: 3rem;
    width: 6rem;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgb(35, 120, 200);
    font-size: larger;
    color: aqua;
    border: 0;
}

.main{
    height: 21rem;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    border: 2px solid grey;
    border-radius: 12px;
    box-shadow: 0 4px 12px 2px rgba(0,0,0,0.15);

}

.main-card{
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid black;
}

.add-card{
    height: 6rem;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
}
.humidity,
.feelsLike{
    padding: 12px;
    width: 11.5rem;
    box-sizing: border-box;
    padding-bottom: 17px;
}

.condition-card{
    height: 5rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.stats{
    width: 16rem;
    height: 7rem;
}

.icon{
    height: 7rem;
    width: 7rem;
}
.temp,
.place-name{
    height: 3rem;
    box-sizing: border-box;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    overflow-x: auto;   
    overflow-y: hidden; 
    white-space: nowrap
}
.temp{
    height: 4rem;
    padding: 0;
    font-size: 40px;
}
.app-icon{
    width: 32%;
    object-fit: contain;
}
.title{
    width: 20rem;
    text-align: left;
    font-size: 35px;
    padding: 12px;
    padding-left: 0;
    padding-top: 20px;
    font-weight: 600;
}

.humidity div{
    font-size: 30px;
}
.icon_Humidity{
    padding-bottom: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}
#percent{
    padding-top: 7px;
    width: 4rem;
    box-sizing: border-box;
    text-align: center;

}
.textH{
    text-align: center;
}
.feelsLike{
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.5px;
}
.feelsLike div{
    font-size: 31px;
}
.humidity{
    padding-top: 1px;
}

.condition-card{
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
#imgIcon{
    padding-left: 15px;
    width: 8.6rem;
    object-fit: contain;
}

.hiddenC{
    padding: 8px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.content{
    font-size: 30px;
    overflow: hidden;
    height: 0;
    transition: height 0.4s ease;
}

#dropDown{
    border-radius: 12px;
    border: 1px solid rgb(42, 185, 228);
    box-shadow: 0 4px 12px 2px rgba(0,0,0,0.15);

}